<nav class="navbar navbar-light shadow p-3 mb-5 bg-body">
  <div class="container-fluid">
    <h1>InovantSolutions</h1>
            <!-- <button (click)="clickAddEmployee()" class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Employee</button> -->
  </div>
</nav>

<div class="m-5">
  <h2>Welcome, please log in/ create account</h2>
  <div class="row align-items-start gx-5">
    <div class="col">
<app-login></app-login>
    </div>
    <div class="col">
      <app-signup></app-signup>
    </div>
  </div>
</div>
<app-footer></app-footer>
